* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Ubuntu", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.os {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #000;

  main {
    position: relative;
    width: 100%;
    background: url("/src/assets/images/background.jpg");
    background-size: cover;
    height: calc(100% - 75px);

    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(auto-fit, 65px);
    grid-template-columns: repeat(auto-fit, 65px);
    grid-auto-flow: column;
  }
  nav {
    position: absolute;
    &.hide {
      display: none;
    }
    &.show {
      display: block;
    }
    width: 100%;
    height: 100%;
    z-index: 9;
    .start-menu {
      z-index: 10;
      position: absolute;
      width: 400px;
      max-width: 99vw;
      background: #f00;
      height: 600px;
      left: 0px;
      bottom: 75px;
    }
  }
  footer {
    z-index: 10;

    width: 100%;
    background: #292929;
    height: 75px;

    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-rows: 1;
    grid-template-columns: repeat(auto-fit, 65px);
  }
}

@import "Windows";
